/* ==|====================
Base
======================= */

// http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that
// Prevents IE from overlapping transparent scrollbar
@-ms-viewport {
  width: auto;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  font-variant-ligatures: none;
  &,
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  height: 100%;
  font-weight: 400;
  font-size: $base-font-size;
  font-family: $font-1;
  color: $color1;
  background-color: #222222;
}

body,
html {
  margin: 0;
  padding: 0;
}

#blazingFocusWrapper {
  position: absolute;
  z-index: 1000000;
  width: 10px;
  height: 10px;
  pointer-events: none;
}

.pagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: default;
}

.icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.icon i {
  transition: color 300ms linear;
}
