<div class="pagewrapper">
	<a class="item heart" tabindex="0" data-blazing="">
		<div class="icon"><i class="fa fa-heart">x</i></div>
	</a>
	<a class="item alert" tabindex="0" data-blazing="">
		<div class="icon"><i class="fa fa-bell">x</i></div>
	</a>
	<a class="item mail" tabindex="0" data-blazing="">
		<div class="icon"><i class="fa fa-envelope">x</i></div>
	</a>
</div>
