
<a class="item heart" tabindex="0" data-blazing="">
  <div class="icon"><i class="fa fa-heart"></i></div>
</a>
<a class="item alert" tabindex="0" data-blazing="">
  <div class="icon"><i class="fa fa-bell"></i></div>
</a>
<a class="item mail" tabindex="0" data-blazing="">
  <div class="icon"><i class="fa fa-envelope"></i></div>
</a>
